<h4 class="text-center">Login</h4>

<form class="form mt-4">
  <div class="form-group">
      <input class="form-control" placeholder="Nome do usuário" type="text">
  </div>
   <div class="form-group">
      <input class="form-control" placeholder="Senha" type="password">
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
